<div class="about-page">
    <div class="hero">
        <div class="hero-image">
            <div class="image-box">
                <h3 class="image-title">Yourparts</h3>
                <div class="image-wrap">
                    <img src="assets/images/aboutus.jpg" alt="about">
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <h3>About Us</h3>
        <h2>What we offer</h2>
        <p>
             YourParts is the largest e-commerce marketplace in Egypt for everything your car needs.
            Through our website you can buy genuine spare parts with a warranty up to 6 months. You can also buy
            tires, rims and any accessories for your car.
            You can request installation for any spare part, schedule an inspection or maintenance through our partner
            <strong>YourFixers</strong>, who will provide the service at your doorstep.
             We connected service centers and spare-parts sellers directly with customers so you save time and money.
            No more wasting work hours or an entire day looking for what your car needs — we deliver high-quality
            service
            at the best price.
        </p>
        <h3>Head office</h3>
        <address>B3 Al-Reyhana Tower<br />
            Zahraa Al-Maadi - Sarayat Al-Gharbeya<br />
            4th Floor<br />
        </address>
        <h3>Contact</h3>
        <ul class="contacts">
            <li>Email: <a href="mailto:info@yourparts.com">info@yourparts.com</a></li>
            <li>Contact page: <a href="https://yourparts.com/contact" target="_blank"
                    rel="noopener">yourparts.com/contact</a></li>
            <li>Hotline: <strong>15145</strong></li>
        </ul>
    </section>
</div>