<div class="about-page">
    <section class="content">
        <h2>About Us</h2>
        <h3>What we offer</h3>
        <div class="offer-wrapper">
            <div class="text-box">
                <p>
                    YourParts is the largest e-commerce marketplace in Egypt for everything your car needs.
                    Through our website you can buy genuine spare parts with a warranty up to 6 months. You can also buy
                    tires, rims and any accessories for your car.
                    You can request installation for any spare part, schedule an inspection or maintenance through our
                    partner
                    <strong>YourFixers</strong>, who will provide the service at your doorstep.
                    We connected service centers and spare-parts sellers directly with customers so you save time and
                    money.
                    No more wasting work hours or an entire day looking for what your car needs — we deliver
                    high-quality
                    service
                    at the best price.
                </p>

                <h3>Head office</h3>
                <address>
                    Qena-Egypt
                </address>
                <div class="question">
                    <h3>Contact</h3>
                    <p>If you have any questions regarding our policy, you can contact us via</p>
                    <a href="mailto:Info@Yourparts.com">
                        <span>Email </span>
                        info@yourparts.com
                     </a><br>
                    <a href="https://yourparts.com/Contact">
                        <span>Visit Our Page </span>
                        Yourparts.com/Contact
                    </a>
                    <div class="hotline">
                        <span>Hotline</span>
                        15145
                    </div>
                </div>
            </div>
            <div class="image-box">
                <strong>About Us</strong>
                <div class="image">
                    <img src="assets/images/aboutus.jpg" alt="about">
                </div>
            </div>
        </div>
    </section>
</div>