<div class="services-centers-container">
  <div class="container">
    <h1>Service Centers in Your Government</h1>
    <p>Search for Service Centers in Your Governorate</p>
    <div *ngIf="loading" class="loading">Loading...</div>
    <div  *ngIf="centers.length <= 0 && !loading" class="loading">There are no Centers !!</div>

    <div class="services-centers" *ngIf="!loading && centers.length > 0">
      <div class="card" *ngFor="let center of getVisibleCenters()" [@expandCollapse]>
        <img src="https://tawfiqia.com/images/Group.jpg">
        <div class="card-p-infos">
          <div class="card-title"><span class="sp">Name : </span>{{center.name}}</div>
          <div class="card-location"><span class="sp">Location : </span>{{center.location}}</div>
          <div class="card-phone"><span class="sp">Phone : </span>{{center.phone}}</div>
          <div class="card-email"><span class="sp">Email : </span>{{center.email}}</div>
        </div>

        <div class="center-services">
          <span class="sp">Services</span>
          <div class="list">
            <span class="ser" *ngFor="let service of center.services"> {{service}}</span>
          </div>
          <span class="ser not" *ngIf="!center.services || center.services.length === 0"> No services</span>
        </div>

        <div class="center-workhours">
          <span class="sp">work Hours</span>
          <div class="list">
            <span class="ser" *ngFor="let workhour of center.workingHours"> {{workhour}}</span>
          </div>
          <span class="ser not" *ngIf="!center.workingHours || center.workingHours.length === 0"> No
            Working Hours</span>
        </div>
      </div>
    </div>
    <button class="see-more-btn" *ngIf="centers.length > 4" (click)="toggleShowAll()"> {{ showAll ? 'See less' : 'See
      more'}} </button>
  </div>
</div>
