<div class="search-section">
  <h1 class="title">more than 100,000
    Spare parts for your cars</h1>
  <div class="search-input">
    <input type="text" id="search" placeholder="Search">
    <span>
      <img src="/assets/images/HomeImgs/search-icon.png" alt="">
    </span>
  </div>
  <div class="down-part">
    <div class="left">
      <h5>
        Enter your car data
      </h5>
      <app-select-form></app-select-form>
    </div>
    <div class="right">
      <div class="upper">
        <ul>
          <li><a href="">Spare parts</a></li>
          <li><a href="">Tyres</a></li>
          <li><a href="">Engine oil</a></li>
          <li><a href="">Batteries</a></li>
          <li><a href="">Liquids</a></li>
        </ul>
      </div>
      <div class="down">
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>

      </div>
    </div>
  </div>
</div>