.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.services-centers-container {

    padding: 100px 0;
    width: 100%;

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    h1 {
        font-weight: bold;
        font-size: 30px;
    }

    .services-centers {
        margin-bottom: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        gap: 30px;
        flex-wrap: wrap;
        width: 70%;



        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding: 30px 35px;
            align-self: stretch;
            border-radius: 8px;

            .center-services,
            .center-workhours {
                margin-top: 10px;
                padding-right: 15px;

                .list {
                    display: flex;
                    list-style: none;
                    gap: 10px;
                }

                .ser {
                    color: #b30000;
                    position: relative;
                    margin-left: 10px;
                }

                .ser::after {
                    position: absolute;
                    left: -7px;
                    width: 5px;
                    height: 5px;
                    background-color: rgba(194, 194, 194, 0.616);
                    content: "";
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 100%;


                }

                .not {
                    color: gray;
                }
            }

            .sp {
                color: #b30000;
                font-weight: bold;
            }

        }
    }

    @media (max-width: 992px) {

        h1,
        p {
            text-align: center;
        }

        .services-centers {
            width: 80%;

            .card {
                width: 100%;
            }
        }

    }

    .see-more-btn {
        background: transparent;
        color: #b30000;
        border: 1px solid #b30000;
        padding: 6px 12px;
        border-radius: 6px;
        cursor: pointer;
        margin-top: 10px;
    }

    .see-more-btn:hover {
        transition: .5s;
        background: #b30000;
        color: #fff;
    }
}



.loading {
    text-align: center;
    font-size: 18px;
    color: #555;
    margin-top: 30px;
}