.footer{
  width: 100%;
    background: #2f3140;
    color: #fff;
    padding: 40px 80px;
  box-sizing: border-box;
}
.footer-top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 40px;
}
.footer-top h4{
    margin-bottom: 15px;
    font-size: 18px;
}
.phone{
    display: flex;
    align-items: center;
    gap: 10px;
}
.phone-icon{
    width: 35px;
    height: 35px;
    object-fit: contain;
}
.contact h4,
.links h4,
.solutions h4{
color: #9798a0;
margin-bottom: 25px;
}
.contact h4{
  margin-bottom: 0px;
}
.links a,
.solutions a{
  display: block;
  color: #fff;
  margin-bottom: 15px;
  text-decoration: none;
}
.footer-logo{
    width: 100px;
    margin-bottom: 20px;
}
.social {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.social img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  cursor: pointer;
}

.footer-bottom {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  border-top: solid 1px #fff;
  flex-wrap: wrap;
  margin-top: 85px;
}

.partners {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  margin: 25px 0;
}

.partners img {
  height: 40px;
  object-fit: contain;
}
@media (max-width: 480px) {

  .footer {
    padding: 20px 15px;
    text-align: right;
  }

  .footer-top {
    flex-direction: column;
    gap: 25px;
  }

  .footer-top h4 {
    font-size: 16px;
  }

  .footer-logo {
    width: 70px;
  }

  .links a,
  .solutions a {
    font-size: 14px;
  }

  .social img {
    width: 22px;
    height: 22px;
  }

  .partners img {
    height: 25px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    margin-top: 40px;
    text-align: center;
  }
}
@media (max-width: 576px) {

  .footer {
    padding: 25px 20px;
  }

  .footer-top {
    gap: 30px;
  }
}
@media (max-width: 768px) {

  .footer {
    padding: 30px 25px;
  }

  .footer-top {
    flex-direction: column;
    gap: 35px;
  }

  .footer-logo {
    width: 80px;
  }

  .partners {
    justify-content: center;
    gap: 10px;
  }

  .partners img {
    height: 30px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-top: 50px;
  }
}
@media (max-width: 992px) {

  .footer-top {
    gap: 35px;
  }

  .links a,
  .solutions a {
    font-size: 15px;
  }

  .partners img {
    height: 35px;
  }
}
@media (max-width: 1200px) {

  .footer {
    padding: 35px 40px;
  }

  .footer-top {
    gap: 35px;
  }

  .footer-logo {
    width: 90px;
  }
}
@media (max-width: 1400px) {

  .footer {
    padding: 45px 60px;
  }

  .partners img {
    height: 40px;
  }
}
@media (min-width: 1401px) {

  .footer {
    padding: 60px 120px;
  }

  .footer-top {
    gap: 50px;
  }

  .footer-bottom {
    justify-content: space-between;
  }

  .partners img {
    height: 45px;
  }
}
