   form#carData {
     display: flex;
     flex-direction: column;
     gap: 10px;

     #car-select {
       padding: 5px;
       outline: none;
       border-radius: 8px;
       border: 1px solid rgb(196, 200, 227);
     }

     .confirm-select-btn {
       background-color: red;
       color: rgb(196, 200, 227);
       font-weight: bold;
       padding: 5px;
       border: 0;
       border-radius: 5px;
       /* position: absolute; */
       bottom: 20px;
       float:bottom;
       /* width: 100%; */
       /* float: bott; */
     }
   }


   @media (max-width:992px) {

    form#carData {
      width: 100%;
    }
   }