.navC{
  position:static;
  margin-bottom: 90px;
}
.navbar {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #000;
  padding: 14px 25px;
  box-sizing: border-box;
  display: flex;
  position: fixed;
  z-index: 1000;
  top: 0%;
  left: 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.left-section,
.right-section {
  display: flex;
  align-items: center;
  gap: 18px; 
}
.logo {
  height: 46px;
  object-fit: contain;
}
.nav-link {
  text-decoration: none;
  color: #333333b7;
  font-size: 16px;
  white-space: nowrap;
}
.active-link {
  color: #ee3e55;
}
.lang-btn {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  padding: 6px 10px;
  border-radius: 8px;
  font-size: 16px;
  white-space: nowrap;
  flex: 0 0 auto;
  width: auto;
  background: #fff;
  border: 1px solid #b3b3b3;
  cursor: pointer;
}

.lang-icon {
  width: 25px;
  object-fit: contain;
}
.cart {
  position: relative;
  cursor: pointer;
}

.cart-img {
  width: 28px;
}

 .cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background: rgb(255, 254, 254);
  color: rgb(248, 0, 0);
  border: #ee3e55 1px solid;
  padding: 3px 7px;
  border-radius: 50%;
  font-size: 12px;
} 

.login-btn,
.logout-btn{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 14px;
  border-radius: 8px;
  white-space: nowrap;
  text-decoration: none;
  color: #000;
  border: 1px solid #b3b3b3;
  cursor: pointer;
  flex: 0 0 auto;
  width: auto;
}
.login-btn:hover {
  background: #eeeff5;
}
.register-btn {
  display: inline-flex;
    text-decoration: none;
    padding: 8px 14px;
  background: #ee3e55;
  color: #fff;
  border-radius: 10%;
  white-space: nowrap;
  flex: 0 0 auto;
  width: auto;
}

.dash{
  margin: 10px;
  border: 2px rgba(255, 0, 0, 0.747) solid;
  padding: 10px;
  height: 20px;
  width: 20px;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #f0e3e34f;
}
 @media (max-width: 1200px) {
  .navbar {
    padding: 18px 40px;
  }

  .logo {
    width: 100px;
  }
}
@media (max-width: 992px) {
  .navbar {
    padding: 16px 30px;
  }

  .nav-link {
    font-size: 15px;
  }

  .logo {
    width: 90px;
  }
  .login-btn,
  .logout-btn,
  .register-btn {
    padding: 5px 12px;
    font-size: 13px;
  }
   .lang-btn {
    padding: 5px 10px;
    font-size: 13px;
    gap: 5px;
  }

  .lang-icon {
    width: 22px;
    height: 22px;
  }
}
@media (max-width: 768px) {

  .navbar {
    padding: 15px 20px;
    gap: 15px;
  }

  /* كل سيكشن صف كامل */
  .left-section,
  .right-section {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
  }

  .logo {
    width: 80px;
  }

 .login-btn,
 .logout-btn,
  .register-btn {
    padding: 4px 10px;
    font-size: 12.5px;
  }
  .lang-btn {
    padding: 4px 8px;
    font-size: 12.5px;
    gap: 4px;
  }

  .lang-icon {
    width: 19px;
    height: 19px;
  }
}
@media (max-width: 480px) {

  .navbar {
    padding: 12px 15px;
  }

  .left-section {
    justify-content: center;
  }

  .right-section {
    justify-content: center;
  }

 .login-btn,
 .logout-btn,
  .register-btn {
    padding: 4px 8px;
    font-size: 12px;
  }
  .lang-btn {
    padding: 4px 6px;
    font-size: 12px;
  }

  .lang-icon {
    width: 16px;
    height: 16px;
  }
}
