<nav class="navbar">
  <div class="right-section">
    <img src="assets/images/menu.jpg" class="menu-btn" (click)="openMenu()">
    <img src="assets/images/logo.jpg" class="logo">
    <a routerLink="/products" routerLinkActive="active-link" class="nav-link">Products</a>
  </div>
  <div class="left-section">
    <button class="lang-btn" (click)="changeLang()">
      <img src="assets/images/lang.jpg" class="lang-icon">
      English
    </button>
    <div class="cart">
      <img src="assets/images/cart.jpg" class="cart-img">
      <span *ngIf="cartCount > 0" class="cart-count">{{ cartCount }}</span>
    </div>

    <a routerLink="/login" class="login-btn">Login</a>
    <a routerLink="/register" class="register-btn">Register</a>
  </div>
  <ul class="menu" *ngIf="toggleMenu">
    <li *ngFor="let item of menuItems">
      {{ item }}
    </li>
  </ul>

</nav>
