.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 25px;
  background: #fff;
  border-bottom: 1px solid #000;
  /* position: fixed;
  width: 100%;
  z-index: 2000; */
}
.left-section {
  display: flex;
  align-items: center;
  gap: 20px; 
}
.logo {
  height: 80px;
  width: auto;
}
/* .menu-btn {
  width: 40px;
  cursor: pointer;
} */
.nav-link {
  text-decoration: none;
  color: #333333b7;
  font-size: 18px;
  font-weight: 500;
}
.active-link {
  color: #ee3e55;
}
.right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.lang-btn {
  display: flex;
  align-items: center;
  gap: 5px;
  background: #fff;
  border: 1px solid #b3b3b3;
  border-radius: 10%;
  cursor: pointer;
  font-size: 16px;
}
.lang-icon {
  width: 45px;
}
.cart {
  position: relative;
  cursor: pointer;
}

.cart-img {
  width: 35px;
}

 .cart-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background: rgb(255, 254, 254);
  color: rgb(248, 0, 0);
  border: #ee3e55 1px solid;
  padding: 3px 7px;
  border-radius: 50%;
  font-size: 12px;
} 

.login-btn{
  text-decoration: none;
  color: #000;
  padding: 8px 14px;
  border: 1px solid #b3b3b3;
  border-radius: 10%;
  cursor: pointer;
}
.login-btn:hover {
  background: #eeeff5;
}
.register-btn {
    text-decoration: none;
    padding: 8px 14px;
  background: #ee3e55;
  color: #fff;
  border-radius: 10%;
}

.menu {
  position: absolute;
  top: 80px;
  left: 10px;
  background:  #fff;
  width: 250px;
  padding: 10px;
  list-style: none;
}

.menu li {
  padding: 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.menu li::after {
  content: "›";
  color: #444;
}
.dash{
  margin: 10px;
  border: 2px rgba(255, 0, 0, 0.747) solid;
  padding: 10px;
  height: 20px;
  width: 20px;
  text-align: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  background-color: #f0e3e34f;
}
@media (max-width: 768px) {

  .navbar {
    padding: 10px 15px;
  }

  .right-section {
    gap: 10px; 
  }

  .logo {
    height: 50px;
  }

  .menu-btn {
    height: 30px;
    width: 30px;
  }

  .nav-link {
    font-size: 14px;
  }
}
@media (max-width: 992px) {

  .right-section {
    gap: 15px;
  }

  .logo {
    height: 70px;
  }

  .nav-link {
    font-size: 15px;
  }
}
