.card{
  /* background-color: red; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 100%;
  padding: 25px;
  background-color: #e6e9ec;
  img{
    width: 100px;
  border-radius: 100%;
  }
}

@media (max-width:992px) {
  .card img{
      width: 95px;
  }
}

.card:hover{
  transition: .5s;
    box-shadow: 0 0 10px rgba(22, 22, 22, 0.274);
    transform: scale(1.09);
}
