.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.349);
  padding: 15px;
  border-radius: 10px;
  background-color: white;

  img {
    width: 50%;
    height: 50%;
    margin-bottom: 15px;
  }
}

.card:hover {
  transition: .5s;
  background-color: red;
  h2 {
    color: white;
  }
}


@media (max-width:992px) {
  .card {
    width: 100%;
  }
}
