.card {
  background: #ffffff;
  border-radius: 16px;
  padding: 24px 40px;
  text-align: center;
  cursor: pointer;
 border-top: red 3px solid;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  transition: all 0.35s ease;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  position: relative;
  overflow: hidden;
}

/* Hover Effect */
.card:hover {
  transform: translateY(-8px);
  background-color: black;
  box-shadow: 0 18px 45px rgba(0, 0, 0, 0.15);
  color: #ffffff;
}

/* Image */
.card img {
  width: 90px;
  height: 90px;
  object-fit: contain;
  transition: transform 0.4s ease;
}

/* Image zoom on hover */
.card:hover img {
  transform: scale(1.15);
}

/* Title */
.card h2 {
  font-size: 18px;
  font-weight: 600;
  color: #111;
  margin: 0;
  letter-spacing: 0.3px;
}
.card:hover h2{
color: #ffffff;
}
/* Optional subtle line */
.card::after {
  content: '';
  width: 50%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #111, transparent);
  opacity: 0.1;
  transition: opacity 0.3s ease;
}

.card:hover::after {
  opacity: 0.25;
  background: linear-gradient(90deg, transparent, #e9e6e6, transparent);

}

