<div class="contact-container">
    <h2>Contact Us</h2>
    <p>If you have any questions regarding our policy, you can contact us via</p>
    <p>Yourparts is the largest electronic market in Egypt for everything your car needs</p>
<a href="mailto:Info@Yourparts.com" class="contact-link">
     <span>Email </span>
     info@yourparts.com </a>
<a href="https://yourparts.com/Contact" target="_blank" class="contact-link"> 
   <span>Visit Our Page </span>  
    Yourparts.com/Contact 
  </a>
    <p class="hotline">
       <span>Hotline</span>
       15145
        </p>
</div>
