<div class="contact-container">
    <h2>تواصل معانا</h2>
    <p>إذا كان لديك أي أسئلة بخصوص سياستنا يمكنك التواصل معنا عبر</p>
    <p>يورباريتس هوا أكبر سوق الكتروني في مصر لكل ما تحتاجه سيارتك</p>
<a href="mailto:Info@Yourparts.com" class="contact-link">
     <span>البريد الالكتروني</span>
     info@yourparts.com </a>
<a href="https://yourparts.com/Contact" target="_blank" class="contact-link">
   <span> زيارة صفحتنا</span> 
    Yourparts.com/Contact   
  </a>
    <p class="hotline">
       <span> الخط الساخن </span>
         15145
        </p>
</div>