.contact-container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 40px;
}
.contact-container .cont {
    border: #ee3e569f 2px solid;
}
.contact-container h2 {
    color: #ee3e55;
    margin-bottom: 12px;
    position: relative;
}

.contact-container p {
    margin-bottom: 12px;
}

.contact-link {
    display: block;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px 14px;
    color: #000;
}

.contact-link span {
    color: #ee3e55;
    font-weight: bold;
}

.hotline {
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
}

.hotline span {
    color: #ee3e55;
}

.map-container {
    margin-top: 25px;
    overflow: hidden;
    /* box-shadow: 0 6px 10px rgba(0,0,0,0.15); */
}
