<div class="homePage">

    <div class="categories-section">
    <h1 class="hero-title">
  Nice To Meet You 
  <i class="fa-solid fa-gear hero-icon"></i>
</h1>

<button class="cta-btn"  [routerLink]="['/products']">
  <i class="fa-solid fa-cart-shopping"></i>
  Start Shopping
</button>
    </div>
 <br><br>
   <div class="searchAbout">
  <h1 class="title"><i class="fas fa-search"></i> What are you searching for?</h1>
<div class="categories">
  <app-card
    *ngFor="let category of categories"
    [category]="category"
    (categoryClicked)="goToCategory($event)">
  </app-card>
</div>

</div>
    <div class="centers-container">

        <app-section2></app-section2>

    </div>


    <div class="best-companies">
      <br><br>
      <h1 class="title" ><i class="fas fa-trophy"></i> The Best Companies</h1>
      <p>For your car spare parts</p>
      <div class="companies">
     <app-section4
    *ngFor="let company of companies"
    [company]="company">
    </app-section4>
        <br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
   </div>
  </div>

