* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* .homePage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.homePage .categories-section {
  min-height: calc(-80px + 100vh);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
  gap: 20px;
  background-image: url("/assets/images/HomeImgs/homeBG.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
padding: 50px 0;
}


.homePage .categories {
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
width: 60%;
}


.homePage .title {
  color: white;
  font-size: 30px;
  font-weight: bold;
      text-align: center;
}
.homePage .best-companies .title {
  margin-bottom: 15px;
  color: black;
}


.homePage .best-companies {
  display: flex;
  justify-content: center;
  padding: 20px 0 100px 0;
  align-items: center;
  flex-direction: column;
p{
  margin-bottom:30px
}
  .companies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

  }

}

@media(max-width:992px) {
  .companies {
      width: 90%;
    }
}



.homePage .search-section {
  display: flex;
  justify-content: center;
  align-items: center;
}


@media(max-widht:992px) {

  .homePage,
  .homePage .container,
  .homePage .container .categories-section,
  .homePage .best-companies {
    width: 100%;
  }

  .homePage .best-companies .container  {

    flex-wrap: wrap;
  }


  .homePage .categories {
    width: 80%;
  }
  .best-companies {
      width: 90%;
    }
}

/* h1{
  width:100%;
} */
