<div class="homePage">

    <div class="categories-section">
    <h1 class="hero-title">
{{ 'HOME.HELLO' | translate }}
  <i class="fa-solid fa-gear hero-icon"></i>
</h1>

<button class="cta-btn"  [routerLink]="['/products']">
  <i class="fa-solid fa-cart-shopping"></i>
{{ 'HOME.START_SHOPPING' | translate }}
</button>
    </div>
 <br><br>
   <div class="searchAbout">
  <h1 class="title"><i class="fas fa-search"></i> {{ 'HOME.SEARCH_TITLE' | translate }}</h1>
 <div class="categories">
        <app-card [category]="category1"></app-card>
        <app-card [category]="category2"></app-card>
        <app-card [category]="category3"></app-card>
        <app-card [category]="category4"></app-card>
        <app-card [category]="category5"></app-card>
      </div>
</div>
    <div class="centers-container">

        <app-section2></app-section2>

    </div>


    <div class="best-companies">
      <br><br>
      <h1 class="title" ><i class="fas fa-trophy"></i> {{ 'HOME.BEST_COMPANIES' | translate }}</h1>
      <p>{{ 'HOME.SPARE_PARTS' | translate }}</p>
      <div class="companies">
        <app-section4 [company]="company1"></app-section4>
        <app-section4 [company]="company2"></app-section4>
        <app-section4 [company]="company3"></app-section4>
        <app-section4 [company]="company4"></app-section4>
        <app-section4 [company]="company5"></app-section4>
        <app-section4 [company]="company6"></app-section4>
        <br><br><br><br><br><br><br><br><br><br><br><br>
      </div>
   </div>
  </div>

