/* .booking-page{

} */



.booking-page {

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 249, 251);

  /* flex-self: */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.363);
    /* height: 60%; */

    .left {
      /* width: 50%; */
      margin-bottom: 20px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        border-bottom-left-radius: 20px;
      }
    }

    .right {
      /* overflow-y: scroll; */
      /* width: 50%; */

width: 100%;
      #booking-services-form {
        display: flex;
        flex-direction: column;

        .user-info,
        .car-info {
          display: flex;
          justify-content: center;
          /* align-items: center; */
          flex-direction: column;
        }


        label {
          margin-bottom: 5px;

        }

        input {
          border: 1px solid rgb(196, 200, 227);
          border-radius: 8px;
          padding: 8px 10px;
          outline: none;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.164);
        }

        input:hover {
          transform: scale(1.02);
          transition: .5s;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.445);
        }

      }
    }
  }
}
