<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./booking-page.component.css">
</head>

<body>
  <div class="booking-page">
    <!-- <img src="/assets/images/bookService/bg.webp" alt=""> -->
   <div class="container">
    <div class="left">
      <img src="C:\Users\Elnour Tech\Desktop\final project front\TeamCarsFrontEnd\src\assets\images\bookService\bg.webp"
        alt="">
    </div>
    <div class="right">
      <form id="booking-services-form" action="">
        <div class="user-info">
          <label for="">Enter your full name</label>
          <input type="text"><br>

          <label for="">Enter your number phone</label>
          <input type="text"><br>

          <label for="">Enter your Email</label>
          <input type="text">
        </div>
        <div class="car-info">
          <h3>Enter Your Car Information</h3>
          <label for="">Enter Your car model</label>
          <input type="text"><br>

          <label for="">Enter model year</label>
          <input type="text"><br>
          <select name="" id="">
            <option value="">Regular Service</option>
            <option value="">General Repair</option>
            <option value="">Other</option>
          </select><br>
        </div>
        <textarea name="" id="">
              There are no comments
            </textarea><br>


        <button type="">book aservice</button>
      </form>
    </div>
   </div>
  </div>

</body>

</html>
