<div class="booking-page">
  <div class="container">
    <div class="left">
      <img src="assets/images/carSpare.jpg" alt="">
    </div>
    <div class="right">
      <form id="booking-services-form" #bookingForm="ngForm" (ngSubmit)="submitBooking(bookingForm.value)">
        <div class="user-info">
          <span class="sp">User Information :</span>
          <label>Enter your Full Name</label>
          <input type="text" name="customerName" ngModel><br>

          <label>Enter your Phone Number</label>

          <input type="text" name="phone" ngModel>

          <label>Enter your Email</label>
          <input type="email" name="email" ngModel>
        </div><br><br>

        <div class="car-info">
          <span class="sp">Car Information :</span>
          <label>Enter Your car model</label>
          <input type="text" name="carModel" ngModel>

          <label>Enter model year</label>
          <input type="text" name="modelYear" ngModel>
          <label for="">Select Servies : </label>
          <select name="serviceType" ngModel>
            <option value="Regular Service">Regular Service</option>
            <option value="General Repair">General Repair</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <label for="">Do You Have Any Comments ?</label>
        <textarea name="comments" ngModel placeholder="There are no comments"></textarea><br>

        <button class="book-btn" type="submit">Book a service</button>
      </form>
    </div>
  </div>
</div>